@use '../../styles/vars';

.header {
    padding: 20px;
    background: vars.$primary-color;
    color: rgba(255, 255, 255, 0.719);
    box-shadow: 0 8px 30px -10px vars.$secondary-color;

    &__title {
        text-transform: uppercase;
    }
}
