.card {
    max-width: 600px;
    min-width: 200px;
    margin: 1.5rem auto;
    width: 90%;
    font-family: 'Raleway', sans-serif;
    background: #f4f4f4;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 15px;
    overflow: hidden;
    perspective: 1px;

    &__title {
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 1rem 1.5rem;
        background: #5b5f97;
        color: rgba(255, 255, 255, 0.719);
        transition: 0.3s ease;
    }

    &:hover {
        transform: scale(1.1);
    }

    &__text {
        display: none;
        padding: 1rem 1.5rem 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.719);
        line-height: 1.6;
        font-size: 14px;
        font-weight: 500;
        word-break: break-all;
        display: block;
        background: #8d99ae;
    }
}
