@use '../../styles/vars';

.card {
    max-width: 600px;
    min-width: 200px;
    margin: 1.5rem auto;
    width: 90%;
    font-family: 'Raleway', sans-serif;
    background: #f4f4f4;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 15px;
    overflow: hidden;
    perspective: 1px;

    &__title {
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 1rem 0.5rem;
        background: vars.$primary-color;
        color: rgba(255, 255, 255, 0.719);
        transition: 0.3s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        background: transparent;
        border: 0;
        color: white;
        cursor: pointer;
    }
    &:hover {
        transform: scale(1.1);
    }

    &__text {
        display: none;
        padding: 1rem 1.5rem 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.719);
        line-height: 1.6;
        font-size: 14px;
        font-weight: 500;
        word-break: break-all;
        display: block;
        background: vars.$secondary-color;
    }
}


@media only screen and (max-width: 600px) {
    .card {
        min-width: 150px;
    }
}