@import url(https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700italic,700);
body {
    font-family: 'Amaranth', sans-serif;
    background: #efefbb;
    background: linear-gradient(90deg, #d4d3dd, #efefbb);
}

